*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
*.dvi
*.pdf
authors.tex
*.glo
*.glg
*.gls
*.ist
aglossary.tex

__pycache__
*.egg-info/

# Development tooling
.idea/
pyproject.toml
uv.lock

# Test outputs
tests/outputs
