*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
*.dvi
*.pdf
authors.tex
*.glo
*.glg
*.gls
*.ist
aglossary.tex
parameters_static.tex

__pycache__
*.egg-info/

# Development tooling
.idea/
uv.lock

# Test outputs
tests/outputs
token.pickle
client_secret.json
parameters_static.tex
PAT
